{% extends 'base.html' %}
{% load static %}
{% block facility_content %}
{% for sf in setting_facility %}
<div class="modal" id="warning-{{sf.id}}">
  <form method="POST" class="modal-dialog modal-dialog-centered" id="Add_faci">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel2">Add Facility</h5>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ sf.id }}">
        <select name="facility_type" id="inputGroupSelect01">
            {% for f in facility_type %}
                <option value="{{ f.id }}">{{ f.facility_type }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
      </button>
      <button type="submit" class="btn btn-primary">Change</button>
  </div>
    </div>
  </form>
</div>
{% endfor %}

<!-- BUTTON TO ADD FACILITY -->
    <!-- <button type="submit" class="add-fac" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add Facility</button> -->
    <div class="label-page"  style="padding: 10px;">FACILITY<a style="margin-left: 65vw; margin-top: 0rem; font-size: larger;" href="{% url 'facility:facility' %}"><img style="height: 40%;" src="{% static 'media/arrow.png' %}" alt="Another Profile Picture"></a></div>
    <div class="table">
      <h3 style="font-weight: 50px;">Facility Rules Table</h3><br>
      <table class="center" cellspacing="2" style="display: center;">
        
        <thead>
          <tr>
            <th>ID</th>
            <th>FACILITY</th>
            <th>MAIN RULES</th>
            <th>PROMO RULES</th>
            <th>SUB RULES</th>
            <th>FACILITY TYPE</th>
          </tr>
        </thead>

        <tbody>
          {% for sf in setting_facility %}
          <tr>
            <td style="width: 10%;">{{ sf.id }}</td>
            <td>{{ sf.facility }}</td>
            <td>{{ sf.mainrules }}</td>
            <td>{{ sf.promorules }}</td>
            <td>{{ sf.subrules }}</td>
            
            <!-- <td style="font-size: smaller; width:max-content ;">{{ f.facility_type }}</td>
            
            <td><button style="margin-left: 5%;" 
            class="btn btn-primary" 
            data-bs-toggle="modal" 
            data-bs-target="#warning-{{ sf.id }}" 
            data-facilityname="{{ sf.facility }}"  
            data-facility-id="{{ sf.id }}">
        Change
    </button></td> -->
            <td><button class="btndel">
              <a class="btndel" href="{% url 'facility:facilityRules' sf.id %}">Edit</a>
            </button>
          </td>
            {% empty %}
            <h3 style="position: absolute; margin-top: 20%; margin-left: 32%; opacity: 0.3;">No Available Rules</h3>
          </tr>
          {% endfor %}
        </tbody>
      </table> 
     
    </div>



  {% endblock %}